option_settings:
  aws:elasticbeanstalk:environment:process:default:
    HealthCheckPath: /api/health
    HealthCheckInterval: 30
    HealthCheckTimeout: 10
    HealthyThresholdCount: 3
    UnhealthyThresholdCount: 5
  aws:elasticbeanstalk:healthreporting:system:
    SystemType: enhanced
    EnhancedHealthAuthEnabled: true